body{
    
  }
.container-fluid{
    padding: 0;
    margin: 0;
}

.jumbotron {
    padding: 20px; 
    background-color: #303945;
    color: #e9ecef;
}

.bd-example{
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}

.col{
    background-color: #e9ecef;
}
.card-header{
    background-color: #303945;
}
.card-header button{
    color: #fff;
}
.card-header button:hover{
    color: #fff;
}